body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer-link {
	margin-left: 10%;
	margin-right: 10%;
}

@media only screen and (max-width: 448px){
	.footer-link{
		margin-left: 6%;
		margin-right: 6%;
	}
}

.user-img {
	position: relative;
	top:12px;
	max-width: 36px;
	max-height: 36px;
}

nav .branded-logo {
	font-size: 2.4rem;
}

nav i{
	font-size: 2.4rem;
}

nav {
	height:64px;
	line-height: 64px;
}

nav ul li {
	border-left: 2px solid rgba(0,0,0,0.1);
}

#nav-mobile {
	padding-left: 10px;
}

.divider-vert-right {
	border-right: 1px solid #e0e0e0;
}

.divider-vert-left {
	border-left: 1px solid #e0e0e0;
}

div.noUi-value.noUi-value-horizontal.noUi-value-large{
	top:15px;
}